<div class="container bg_d bd_lead_d lead_d ng-cloak" ng-show="error">
	<h1 class="text-center"> Bollocks... <p>{{error.message}}</p></h1>
	<p class="text-center">(get outta here)</p>
</div>
<div class="container bg_d bd_lead_d lead_d ng-cloak" ng-show="!error">
	
	<div class="row pad">

		<div class="col-sm-11">
			<h1 class="text-bold">{{schemaName}} {{key}}
				<div class="pull-right">
					<button class="btn btn-success btn-lg" ng-click="save()">done</button>
					<button class="btn btn-default btn-lg" ng-click="cancel()">cancel</button>
				</div>
			</h1>
		</div>
	</div>


	<div class="form-horizontal" role="form">
		<!--
		<div class="col-xs-6">
			Schema
			<pre class="bg_d lead_d bd_bg_d">{{schema | pp}}</pre>
		</div>
		-->

		<div class="col-sm-3">
			<div class="pad">
				JSON
				<pre class="bg_d lead_d bd_bg_d">{{obj | pp}}</pre>
			</div>
		</div>

		<ul class="col-sm-9">
				
			<li>
			</li>

			<li ng-repeat="item in items">

				{{item.path}}

				<!-- referenced fields -->
				<div ng-show="item.ref" class="form-group">
					
					<!-- field label -->
					<label for="item.id" class="col-sm-2 control-label">
						<span>{{item.title}}
							<span class="text-muted"> {{item.index}} </span>
						</span>
					</label>
					
					<!-- object view-->					
					<div class="dropdown col-sm-9">
						<button class="dropdown-toggle form-control text-left" data-toggle="dropdown" ng-click="loadRefs(item)"><span class="caret"></span>  {{obj[item.title]}}</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="(key,ref) in item.refs">
								<a ng-click="setRef(item,ref)">{{ref}}</a>
							</li>
						</ul>
					</div>

				</div>
				
				<!-- string -->
				<div ng-show="!item.ref &amp;&amp; !item.newItemStubParentType" class="form-group">
					
					<!-- field label -->
					<label for="item.id" class="col-sm-2 control-label">
						<span>{{item.title}}
							<span class="text-muted"> {{item.index}} </span>
						</span>
					</label>
					
					<!-- string editor -->
					<div class="col-sm-9" ng-show="!(item.index || item.index == 0) &amp;&amp; item.type!='object'">
						<input type="{{item.type}}" id="item.id" class="form-control" ng-model="obj[item.title]" >
					</div>
					
					<!-- object editor -->
					<div class="col-sm-9 " ng-show="item.type=='object'">
						<pre class="">{{item.value}}
							<a ng-click="editChild(item.schema, item.path)"><icon class="pull-right icon-edit"></icon></a>
						</pre>
					</div>
					
					<!-- array string element editor -->
					<div class="col-sm-9" ng-show="(item.index || item.index == 0) &amp;&amp; item.type!='object'">
						<input type="text" id="item.id" class="form-control" ng-model="obj[item.title][item.index]">
					</div>
					
					<!-- remove array element -->
					<div class="col-sm-1" ng-show="(item.index || item.index == 0)">
						<div><a ng-click="removeListItem(item)"><icon class="icon-remove"></icon></a></div>
					</div>


				</div>

				<!-- stub for new list item -->
				<div ng-show="item.newItemStubParentType" class="form-group">

					<!-- field label -->
					<label for="item.id+'_'" class="col-sm-2 control-label">
						<span class="text-muted">{{item.title}} {{item.index}} </span>
					</label>

					<div class="col-sm-9">
						<button ng-show="item.newItemStubParentType == 'array'" id="item.id+'_'" class="form-control text-left" ng-click="augmentList(item.path, item.template, dictKey)"><icon class="icon-plus text-primary"></icon></button>
						<input ng-show="item.newItemStubParentType == 'object'" type="text" class="form-control" ng-model="dictKey" ng-enter="augmentList(item.path, item.template, dictKey)"/>
					</div>					

				</div>

			</li>

		</ul>


	</div>

</div>