<style type="text/css">

	.vertical-centre {
		margin:auto;
	}

	textarea {
  		resize: none;
	}

</style>

<div class="container ng-cloak" ng-show="error">
	<h1 class="text-center" style="margin-top:25%;"> Oops... <p>{{error.message}}</p></h1>
</div>

<div class="dark-grad">
	<div class="container">
		<div class="row pad">
			<div class="col-xs-12">
				<span class="btn-group" ng-show="path.length&gt;1">
					<span class="btn btn-default" ng-click="back()"><icon class="icon-level-up"></icon> step-up</span>
					<span class="btn btn-default" ng-click="cancel()"><icon class="icon-rotate-left"></icon> cancel</span>
					<span class="btn btn-success" ng-click="save()"><icon class="icon-save"></icon> save</span>
				</span>
				<span class="btn-group" ng-show="path.length&lt;2">
					<span class="btn btn-default" ng-click="cancel()"><icon class="icon-rotate-left"></icon> cancel</span>
					<span class="btn btn-success" ng-click="save()"><icon class="icon-save"></icon> save</span>
				</span>
				<span class="lead_d text-lg" style="margin-left:30px;">
					<b>{{schemaName}}</b> {{key}}					
					<span ng-repeat="(i,el) in path" > 
						<span ng-show="!(i%2)"> &#8594;<b>{{el}}</b></span>
						<span ng-show="(i%2)"> {{el}}</span>
					</span>				
				</span>			
			</div>
		</div>
	</div>
</div>

<div class="container ng-cloak" ng-show="!error" style="margin-top: 50px; margin-bottom: 50px;">

	<div class="form-horizontal" role="form">

		<ul class="col-sm-12">
				
			<li>
			</li>

			<li ng-repeat="item in items">

				<!-- referenced fields -->
				<div ng-show="item.ref" class="form-group">
					
					<!-- field label -->
					<label for="item.id" class="col-sm-2 control-label">
						<span>{{item.title}}
							<span class="text-muted"> {{item.index}} </span>
						</span>
					</label>
					
					<!-- object view-->					
					<div class="dropdown col-sm-9">
						<button class="dropdown-toggle form-control text-left" data-toggle="dropdown" ng-click="loadRefs(item)"><span class="caret"></span>  {{obj[item.title]}}</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="(key,ref) in item.refs">
								<a ng-click="setRef(item,ref)">{{ref}}</a>
							</li>
						</ul>
					</div>

				</div>
				
				<!-- string -->
				<div ng-show="!item.ref &amp;&amp; !item.newItemStubParentType &amp;&amp; item.title!='id'" class="form-group">
					
					<!-- field label -->
					<label for="item.id" class="col-sm-2 control-label">
						<span>{{item.title}}
							<span class="text-muted"> {{item.index}} </span>
						</span>
					</label>
					
					<!-- string editor -->
					<div class="col-sm-9" ng-show="!(item.index || item.index == 0) &amp;&amp; item.type!='object'">
						<!-- use a modal? nah -->
						<!--textarea type="{{item.type}}" id="item.id" class="form-control" ng-click="editString(item.title)">{{obj[item.title]}}</textarea-->
						<textarea type="{{item.type}}" spellcheck="false" id="item.id" class="form-control htext" ng-model="obj[item.title]" ng-show="item.title!='id'"></textarea>
						<!-- don't allow editing the id-->
						<div id="item.id" class="form-control" ng-show="item.title=='id'" style="border-color: white;">{{obj[item.title]}}</div>
					</div>
					
					<!-- object editor -->
					<div class="col-sm-9 " ng-show="item.type=='object'" style="cursor:pointer;">
						<pre ng-click="editChild(item.schema, item.path)" class="">{{item.value}}</pre>
					</div>
					
					<!-- array string element editor -->
					<div class="col-sm-9" ng-show="(item.index || item.index == 0) &amp;&amp; item.type!='object'">
						<!--textarea type="text" id="item.id" class="form-control" ng-click="editArrayString(item.title, item.index)" style="overflow:hidden;">{{obj[item.title][item.index]}}</textarea-->
						<textarea type="text" spellcheck="false" id="item.id" class="form-control htext" ng-model="obj[item.title][item.index]"></textarea>
					</div>
					
					<!-- remove string array element -->
					<div class="col-sm-1" ng-show="(item.index || item.index == 0) &amp;&amp; item.type!='object'">
						<div><a ng-click="removeListItem(item)"><icon class="icon-remove"></icon></a></div>
					</div>
					
					<!-- remove object array element -->
					<div class="col-sm-1" ng-show="(item.index || item.index == 0) &amp;&amp; item.type=='object'">
						<div><a ng-click="removeListItem(item)"><icon class="icon-remove"></icon></a></div>
					</div>


				</div>

				<!-- stub for new list item -->
				<div ng-show="item.newItemStubParentType" class="form-group">
					<!-- field label -->
					<label for="item.id+'_'" class="col-sm-2 control-label">
						<span class="text-muted">{{item.title}} {{item.index}} </span>
					</label>

					<div class="col-sm-9">
						<button ng-show="item.newItemStubParentType == 'array'" id="item.id+'_'" class="form-control text-left" ng-click="augmentList(item.path, item.template, dictKey)"><icon class="icon-plus text-primary"></icon></button>
						<input ng-show="item.newItemStubParentType == 'object'" placeholder="create {{item.title}} by typing a new key" type="text" class="form-control" ng-model="dictKey" ng-enter="augmentList(item.path, item.template, dictKey)" />
					</div>					

				</div>

			</li>

		</ul>


	</div>
	<!--
	<div class="row">	
		<div class="col-xs-12">
			Schema
			<pre class="bg_d lead_d bd_bg_d">{{schema | pp}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			JSON
			<pre class="bg_d lead_d bd_bg_d">{{obj | pp}}</pre>
		</div>
	</div>
	-->
</div>